bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.pidb
*.svclog
*.pdb
*.mdb
*.opendb
*.dbmdl
*.vsp
*.psess
*.vspx
*.cache
*.ilk
*.log
*.ncb
*.sdf
*.aps
*.bak
*.vspscc
*.vssscc
*.tmp
*.tmp_proj
*.docstates
*.tlog/
*.log/
*.vs/
.vscode/
.vsconfig
Generated_Code/
TestResults/
AppPackages/
PackageStore/
project.lock.json
project.fragment.lock.json
artifacts/
x64/
x86/
ARM/
ARM64/
*.apk
*.aab
*.ap_
*.ipa
*.app/
*.xcarchive
*.xcuserstate
*.DS_Store
*.userprefs
*.orig
*.rej
.idea/
*.iml
*.iws
Releases/
*.symbols.nupkg
*.nupkg
*.nuspec
*.publish.xml
.nuget/
*.csproj.user
*.db
*.sql
*.sqlite
*.bak
*.csv
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.tiff
*.ico
*.zip
*.7z
*.rar
*.tar
*.gz
*.tgz
*.mp4
*.avi
*.mov
*.mkv
*.log
*.log.*
Thumbs.db
desktop.ini
